body {
    font-family: "Open Sans";
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    margin: 0 !important;
    max-width: unset;
    padding-left: 8vw !important;
    padding-right: 8vw !important;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: justify;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54.47px;
    text-align: left;
    color: #BAA170;
}

.team-sec h2{
    text-align: center;
}

a {
    padding: 12px 30px 12px 30px;
    gap: 10px;
    opacity: 0px;
    border: 1px solid #BAA170;
    text-decoration: none;
    color: #BAA170;
}

img {
    width: 100%;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40.89px;
    text-align: left;
    width: 450px;
    color: #BAA170;
}

.whyus h3 {
    font-weight: 700;
}

.whyus a {
    text-decoration: none;
    gap: 0;
    padding: 0;
    border: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.89px;
    text-align: left;
    color: #BAA170;
}

#wcoll button {
    background-image: url(pics/plus-button.png);
    background-repeat: no-repeat;
    padding: 6px 12px;
   margin-right: 10px;
   margin-top: 10px;
   border: none;
}

#wcoll button[aria-expanded="true"] {
     background-image: url(pics/minus-button.png);
     background-repeat: no-repeat;
}

.vismis {
    background-image: url(pics/vision-mision-bg.png);
    background-repeat: no-repeat;
    padding: 80px 0px;
    background-size: 100vw 55%;
}

.container2 {
    max-width: unset;
    padding-left: 8vw !important;
    padding-right: 8vw !important;
    width: 75%;
    box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.33);
}

.tab-content a {
    width: 130px;
    padding: 10px 18px 10px 18px;
}

.nav-item button {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: center;
    color: #ACABAB8C !important;
    width: auto;
    background-color: white !important;
}

.nav-item button[aria-selected="true"] {
    color: #6B6B6B !important;
    text-decoration: underline !important;
    text-decoration-color: #BAA170;
    text-underline-offset: 10px;
}

.team-sec .container, .about-sec .container{
    position: relative;
}

.team-sec .container:after, .about-sec .container:after {
    content:"";
    position: absolute;
    border-bottom:1px solid #BAA170;
    left: 50%;
    width: 80%;
    transform: translate(-50%);
    bottom: -30px;
}

@media only screen and (max-width:768px) {
    .container, .vismis{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .container2{
        padding-left: 3vw !important;
        padding-right: 3vw !important;
        margin: 0 !important;
        width: 100%;
    }
  
}

/* responsive for table */

@media (max-width: 768px) {
    .table-responsive {
        border: 0;
    }
    .table-responsive thead {
        display: none;
    }
    .table-responsive tr {
        display: block;
        margin-bottom: 10px;
    }
    .table-responsive td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px solid #dee2e6;
        padding: 0.5rem;
        position: relative;
    }
    .table-responsive td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 0.75rem;
        font-weight: bold;
        text-align: left;
    }
    .d-flex {
        display: block !important;
    }
    .justify-content-between {
        justify-content: flex-start !important;
    }
}