body {
    font-family: "Open Sans";
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    margin: 0 !important;
    max-width: unset;
    padding-left: 8vw !important;
    padding-right: 8vw !important;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54.47px;
    text-align: center;
    color: #BAA170;
}

.services-sec1 {
    position: relative;
    margin-bottom: 110px;
}

h3 {
    padding-left: 30px;
    font-size: 30px;
    font-weight: 600;
    line-height: 40.89px;
    text-align: left;
    width: 450px;
    color: #BAA170;
    position: absolute;
    margin-top: 8px;
}


h3:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #BAA170;  
    width: 5%;
    transform: translate(-50%);
    top: 50%;
    left: 3%;
}

.s-content {
    padding: 25px 35px 15px 35px;
        box-shadow: 0px 1px 12.1px 6px #0000000D;
        background-color: white;
        width: 62%;
        margin-top: 5%;
}

.s-imagewrapper {
    position: absolute;
    width: 39%;
    left: 54%;
    z-index: -1;
    height: 103%;
}

img{
    width: 100%;
    height: inherit;
}

span{
    margin-top: -5px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #6B6B6B;
}

.services-sec2{
    position: relative;
    margin-bottom: 110px;
}

.services-sec2 .s-imagewrapper{
   position: static;
   width: 45%;
}

.services-sec2 .s-content {
    position: absolute;
    left: 40%;
    margin-top: -25%;
    width: 53%;
}

.services-sec2 span {
    margin-left:48%;
}

.services-sec2 h3{
    margin-left: 40%;
}

@media only screen and (max-width:768px) {
    
    .s-content, .s-imagewrapper, .services-sec2 .s-imagewrapper, .services-sec2 .s-content {
        width: 100%;
        position: static;
        margin-top: 63px;
    }

    .s-content, .services-sec2 .s-content {
        margin-top: 40px;
        padding: 25px 20px 15px 20px;
    }

    .services-sec2 h3, .services-sec2 span {
        margin-left: 0;
    }

    h3{
        margin-bottom: 30px;
    }

    .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}